<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta charset="utf-8">
<div class="intro-header">
    <div class="row">
            <div class="intro-message">
                <h1>Millonario Cachaco</h1>

                <h3>El lugar donde cumpliras tus sueños</h3>
                <!-- 
                <hr class="intro-divider">
                -->
                <ul class="list-inline intro-social-buttons">
                
                    <li id="signInLink" ng-hide="getSignedInState()" on-click="return false">
                        <a class="btn btn-default btn-lg" ng-click="signIn()">Google+ SignIn</a>
                    </li>
                    <li id="signOutLink" ng-show="getSignedInState()" on-click="return false">
                        <a class="btn btn-default btn-lg" ng-click="signOut()">Log out</a>
                    </li>
                </ul>
            </div>
    </div>
</div>

<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#/profile"><span class="glyphicon glyphicon-user"></span>Ver Pefíl</a></p>
        <img class="img-circle" src="/img/registrarse.png" height="180" width="180" alt="Registro">
      </div>
      <div class="well">
        <p><a href="#">Loterías</a></p>
        <p>
          <span class="label label-default">Boyacá</span>
          <span class="label label-primary">Cruz Roja</span>
          <span class="label label-success">Bogotá</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Es tu día de Suerte!</strong></p>
        Míra tu resultado. De tu lotería favorita.
      </div>
      <p><a href="http://www.loteriadebogota.com/index.php/en/">Lotería de Bogotá</a></p>
      <p><a href="http://loteriadeboyaca.gov.co/">Lotería de Boyacá</a></p>
      <p><a href="http://www.lotecruz.org.co/dgtree/scripts/contenidos/cnt.php?page=24&i=3">Lotería de la Cruz Roja</a></p>
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">Status: A más de 1500 personas le gusta este sitio</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Me gusta
              </button>     
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>John</p>
           <img class="img-circle" src="/img/john.jpg" height="55" width="55" alt="John">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Me encanta este sitio, con su ayuda voy a ser el próximo millonario cachaco ;)</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Ánonimo</p>
           <img class="img-circle" src="/img/anonimo.jpg" height="55" width="55" alt="Anonimo">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Seria genial que incluyeran baloto pero... bueno el sitio es agradable</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Carolina</p>
           <img class="img-circle" src="/img/dena.jpg" height="55" width="55" alt="Carolina">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Es muy chevere tener por fin un sitio agradable y rapido para consultar mis resultados de lotería</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Camilo</p>
           <img class="img-circle" src="/img/cheBo.jpg" height="55" width="55" alt="Camilo">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Por fin un sitio sencillo! :)</p>
          </div>
        </div>
      </div>     
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Próxima en Jugar:</p>
        <img class="img-circle" src="/img/loteriaBogota.jpg" height="400" width="350" alt="loteriaActiva">
        <p><strong>Loteriá de Bogotá</strong></p>
        <p>Miercoles. 9 Diciembre 2015</p>
        <button class="btn btn-primary" ><a href="#/conference/create" >Detalles</a></button>      
      </div>
    </div>
  </div>
</div>